[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "~=1.2.3"
mkdocs-material = "~=8.1.0"
mdx-truly-sane-lists = "*"

[dev-packages]

[requires]
python_version = "3.9"
